@font-face {
	font-family: 'MontserratThin';
	src: url('/fonts/Montserrat/Montserrat-Thin.ttf');
	font-weight: 100;
}
@font-face {
	font-family: 'MontserratExtraLight';
	src: url('/fonts/Montserrat/Montserrat-ExtraLight.ttf');
	font-weight: 200;
}
@font-face {
	font-family: 'MontserratLight';
	src: url('/fonts/Montserrat/Montserrat-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'MontserratMedium';
	src: url('/fonts/Montserrat/Montserrat-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'MontserratSemiBold';
	src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf');
	font-weight: 600;
}
@font-face {
	font-family: 'MontserratBold';
	src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: 'MontserratExtraBold';
	src: url('/fonts/Montserrat/Montserrat-ExtraBold.ttf');
	font-weight: 800;
}
@font-face {
	font-family: 'MontserratBlack';
	src: url('/fonts/Montserrat/Montserrat-Black.ttf');
	font-weight: 900;
}
@font-face {
	font-family: 'MontserratItalic';
	src: url('/fonts/Montserrat/Montserrat-Italic.ttf');
	font-style: italic;
}



@font-face {
	font-family: 'AlternatesThin';
	src: url('/fonts/MontserratAlternates/MontserratAlternates-Thin.ttf');
	font-weight: 100;
}
@font-face {
	font-family: 'AlternatesExtraLight';
	src: url('/fonts/MontserratAlternates/MontserratAlternates-ExtraLight.ttf');
	font-weight: 200;
}
@font-face {
	font-family: 'AlternatesLight';
	src: url('/fonts/MontserratAlternates/MontserratAlternates-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Alternates';
	src: url('/fonts/MontserratAlternates/MontserratAlternates-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'AlternatesMedium';
	src: url('/fonts/MontserratAlternates/MontserratAlternates-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'AlternatesSemiBold';
	src: url('/fonts/MontserratAlternates/MontserratAlternates-SemiBold.ttf');
	font-weight: 600;
}
@font-face {
	font-family: 'AlternatesBold';
	src: url('/fonts/MontserratAlternates/MontserratAlternates-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: 'AlternatesExtraBold';
	src: url('/fonts/MontserratAlternates/MontserratAlternates-ExtraBold.ttf');
	font-weight: 800;
}
@font-face {
	font-family: 'AlternatesBlack';
	src: url('/fonts/MontserratAlternates/MontserratAlternates-Black.ttf');
	font-weight: 900;
}
@font-face {
	font-family: 'AlternatesItalic';
	src: url('/fonts/MontserratAlternates/MontserratAlternates-Italic.ttf');
	font-style: italic;
}