/* START DOCS CSS */

.hexagon{
  display: 'inline-block';
  transform: rotate(30deg);
  max-width: fit-content;
  font-weight: 900;
  font-size: 1.5rem;
  color: #FD627A;
  user-select: none;
}

/* START DOCSUTILS CSS */

@media (max-width: 768px) {
  .docsUtils{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 1rem;
  }
  
}

.docsUtils > a:hover{
  background-color: rgb(26, 32, 44);
  box-shadow: -.5rem -.5rem rgb(214, 222, 35) inset;
}

:global(.dark) .docsUtils > a{
  text-decoration: none !important;
  background-color: white;
  color: rgb(26, 32, 44) !important;
  border-radius: 1rem;
  /* box-shadow: -.5rem -.5rem rgb(42, 17, 7) inset; */
}

:global(.dark) .docsUtils > a:hover{
  background-color: white;
  box-shadow: -.5rem -.5rem rgb(214, 222, 35) inset;
}

/* CUSTOM NEXTRA CSS */

html {
  font-family: Montserrat !important;
}

/* START NEXTRA CSS */

/* html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
} */

.nextra-container hr {
  height: 0;
  color: inherit;
}

.nextra-container abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.nextra-container b,
strong {
  font-weight: bolder;
}

.nextra-container code,
.nextra-container kbd,
.nextra-container pre,
.nextra-container samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace;
  font-size: 1em;
}

.nextra-container small {
  font-size: 80%;
}

.nextra-container sub,
.nextra-container sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.nextra-container sub {
  bottom: -0.25em;
}
.nextra-container sup {
  top: -0.5em;
}
.nextra-container table {
  text-indent: 0;
  border-color: inherit;
}
.nextra-container button,
.nextra-container input,
.nextra-container optgroup,
.nextra-container select,
.nextra-container textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.nextra-container button,
.nextra-container select {
  text-transform: none;
}
.nextra-container [type="button"],
.nextra-container [type="reset"],
.nextra-container [type="submit"],
.nextra-container button {
  -webkit-appearance: button;
}
.nextra-container ::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.nextra-container :-moz-focusring {
  outline: 1px dotted ButtonText;
}
.nextra-container :-moz-ui-invalid {
  box-shadow: none;
}
.nextra-container legend {
  padding: 0;
}
.nextra-container progress {
  vertical-align: baseline;
}
.nextra-container ::-webkit-inner-spin-button,
.nextra-container ::-webkit-outer-spin-button {
  height: auto;
}
.nextra-container [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
.nextra-container ::-webkit-search-decoration {
  -webkit-appearance: none;
}
.nextra-container ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.nextra-container summary {
  display: list-item;
}
.nextra-container blockquote,
.nextra-container dd,
.nextra-container dl,
.nextra-container figure,
.nextra-container h1,
.nextra-container h2,
.nextra-container h3,
.nextra-container h4,
.nextra-container h5,
.nextra-container h6,
.nextra-container hr,
.nextra-container p,
.nextra-container pre {
  margin: 0;
}
.nextra-container button {
  background-color: transparent;
  background-image: none;
}
.nextra-container fieldset,
.nextra-container ol,
.nextra-container ul {
  margin: 0;
  padding: 0;
}
.nextra-container ol,
.nextra-container ul {
  list-style: none;
}
/* html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}
body {
  font-family: inherit;
  line-height: inherit;
} */
.nextra-container *,
.nextra-container :after,
.nextra-container :before {
  box-sizing: border-box;
  border: 0 solid;
}
.nextra-container hr {
  border-top-width: 1px;
}
.nextra-container img {
  border-style: solid;
}
.nextra-container textarea {
  resize: vertical;
}
.nextra-container input::-moz-placeholder,
.nextra-container textarea::-moz-placeholder {
  opacity: 1;
  color: #cbd5e0;
}
.nextra-container input:-ms-input-placeholder,
.nextra-container textarea:-ms-input-placeholder {
  opacity: 1;
  color: #cbd5e0;
}
.nextra-container input::placeholder,
.nextra-container textarea::placeholder {
  opacity: 1;
  color: #cbd5e0;
}
.nextra-container [role="button"],
.nextra-container button {
  cursor: pointer;
}
.nextra-container :-moz-focusring {
  outline: auto;
}
.nextra-container table {
  border-collapse: collapse;
}
.nextra-container h1,
.nextra-container h2,
.nextra-container h3,
.nextra-container h4,
.nextra-container h5,
.nextra-container h6 {
  font-size: inherit;
  font-weight: inherit;
}
.nextra-container a {
  color: inherit;
  text-decoration: inherit;
}
.nextra-container button,
.nextra-container input,
.nextra-container optgroup,
.nextra-container select,
.nextra-container textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
.nextra-container code,
.nextra-container kbd,
.nextra-container pre,
.nextra-container samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}
.nextra-container audio,
.nextra-container canvas,
.nextra-container embed,
.nextra-container iframe,
.nextra-container img,
.nextra-container object,
.nextra-container svg,
.nextra-container video {
  display: block;
  vertical-align: middle;
}
.nextra-container img,
.nextra-container video {
  max-width: 100%;
  height: auto;
}
.nextra-container [hidden] {
  display: none;
}
.nextra-container *,
.nextra-container :after,
.nextra-container :before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  border-color: rgba(237, 242, 247, var(--tw-border-opacity));
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(66, 153, 225, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 0 transparent;
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
/* html {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 16px;
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1;
  scroll-behavior: smooth;
}
body {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
} */
.dark body {
  --tw-bg-opacity: 1;
  background-color: rgba(17, 17, 17, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
}
.nextra-container h1 {
  margin-top: 0.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.015em;
}
.nextra-container h2 {
  margin-top: 2.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.015em;
  border-bottom-width: 1px;
  padding-bottom: 0.25rem;
}
.dark h2 {
  --tw-border-opacity: 1;
  border-color: rgba(26, 32, 44, var(--tw-border-opacity));
}
.nextra-container h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.015em;
}
.nextra-container h4 {
  font-size: 1.25rem;
}
.nextra-container h4,
.nextra-container h5 {
  margin-top: 2rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.015em;
}
.nextra-container h5 {
  font-size: 1.125rem;
}
.nextra-container h6 {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.015em;
}
/* Added article*/
.nextra-container article a {
  --tw-text-opacity: 1;
  color: rgba(66, 153, 225, var(--tw-text-opacity));
  /* text-decoration: underline; */
  /* text-underline-position: under; */
}
.nextra-container p {
  line-height: 1.75rem;
}
.nextra-container .table-container:not(:first-child),
.nextra-container blockquote:not(:first-child),
.nextra-container p:not(:first-child) {
  margin-top: 1.5rem;
}
.nextra-container hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.dark hr {
  --tw-border-opacity: 1;
  border-color: rgba(26, 32, 44, var(--tw-border-opacity));
}
.nextra-container code {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(160, 174, 192, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.25;
  color: rgba(45, 55, 72, var(--tw-text-opacity));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.dark code,
.nextra-container code {
  --tw-text-opacity: 1;
}
.dark code {
  --tw-bg-opacity: 1;
  background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
  color: rgba(226, 232, 240, var(--tw-text-opacity));
}
.nextra-container pre {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(237, 242, 247, var(--tw-bg-opacity));
  padding: 1rem;
}
.dark pre {
  --tw-bg-opacity: 1;
  background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
}
.nextra-container pre code {
  display: inline-block;
  min-width: 100%;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.nextra-container a code {
  color: currentColor;
  text-decoration: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.inset-y-0 {
  top: 0;
  bottom: 0;
}
.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}
.top-0 {
  top: 0;
}
.top-full {
  top: 100%;
}
.top-16 {
  top: 4rem;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.-m-4 {
  margin: -1rem;
}
.m-0 {
  margin: 0;
}
.-mx-6 {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mt-6 {
  margin-top: 1.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mt-24 {
  margin-top: 6rem;
}
.mr-4 {
  margin-right: 1rem;
}
.-mr-2 {
  margin-right: -0.5rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.hidden {
  display: none;
}
.h-full {
  height: 100%;
}
.h-16 {
  height: 4rem;
}
.h-screen {
  height: 100vh;
}
.max-h-\[calc\(100vh-4rem\)\] {
  max-height: calc(100vh - 4rem);
}
.w-full {
  width: 100%;
}
.w-64 {
  width: 16rem;
}
.min-w-0 {
  min-width: 0;
}
.max-w-full {
  max-width: 100%;
}
.max-w-screen-md {
  max-width: 768px;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.rotate-180 {
  --tw-rotate: 180deg;
}
.rotate-180,
.transform {
  transform: var(--tw-transform);
}
.cursor-pointer {
  cursor: pointer;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list-none {
  list-style-type: none;
}
.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * (1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded {
  border-radius: 0.25rem;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgba(237, 242, 247, var(--tw-border-opacity));
}
.bg-orange-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 250, 240, var(--tw-bg-opacity));
}
.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 215, 215, var(--tw-bg-opacity));
}
.bg-yellow-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 252, 191, var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
}
.bg-opacity-\[\.97\] {
  --tw-bg-opacity: 0.97;
}
.p-4 {
  padding: 1rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-0 {
  padding: 0;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.pl-3 {
  padding-left: 0.75rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-4 {
  padding-right: 1rem;
}
.pt-16 {
  padding-top: 4rem;
}
.pb-16 {
  padding-bottom: 4rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pr-1\.5 {
  padding-right: 0.375rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pb-40 {
  padding-bottom: 10rem;
}
.pl-4 {
  padding-left: 1rem;
}
.pt-8 {
  padding-top: 2rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-extrabold {
  font-weight: 800;
}
.font-normal {
  font-weight: 400;
}
.italic {
  font-style: italic;
}
.leading-tight {
  line-height: 1.25;
}
.text-orange-800 {
  --tw-text-opacity: 1;
  color: rgba(156, 66, 33, var(--tw-text-opacity));
}
.text-red-900 {
  --tw-text-opacity: 1;
  color: rgba(116, 42, 42, var(--tw-text-opacity));
}
.text-yellow-900 {
  --tw-text-opacity: 1;
  color: rgba(116, 66, 16, var(--tw-text-opacity));
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgba(113, 128, 150, var(--tw-text-opacity));
}
.text-current {
  color: currentColor;
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(160, 174, 192, var(--tw-text-opacity));
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(203, 213, 224, var(--tw-text-opacity));
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgba(26, 32, 44, var(--tw-text-opacity));
}
.no-underline {
  text-decoration: none;
}
.opacity-25 {
  opacity: 0.25;
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.shadow-lg,
.shadow-md {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.filter {
  filter: var(--tw-filter);
}
.main-container {
  min-height: 100vh;
}
.sidebar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .sidebar {
    border-right-width: 1px;
  }
}
.sidebar ul ul {
  position: relative;
  margin-left: 1.25rem;
}
.sidebar a:focus-visible,
.sidebar button:focus-visible {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.sidebar .active-anchor {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(26, 32, 44, var(--tw-text-opacity));
}
.dark .sidebar .active-anchor {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.sidebar li.active > a {
  --tw-bg-opacity: 1;
  background-color: rgba(237, 242, 247, var(--tw-bg-opacity));
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.dark .sidebar li.active > a {
  --tw-bg-opacity: 1;
  background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.sidebar a,
.sidebar button {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(113, 128, 150, var(--tw-text-opacity));
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.dark .sidebar a,
.dark .sidebar button {
  --tw-text-opacity: 1;
  color: rgba(160, 174, 192, var(--tw-text-opacity));
}
.sidebar a:hover,
.sidebar button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(26, 32, 44, var(--tw-text-opacity));
}
.dark .sidebar a:hover,
.dark .sidebar button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(26, 32, 44, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.nextra-container article ul {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  list-style-type: disc;
}
.nextra-container article li {
  margin-top: 0.5rem;
}
.nextra-container article ol {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  list-style-type: decimal;
}
.nextra-container article blockquote {
  border-left-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(226, 232, 240, var(--tw-border-opacity));
  padding-left: 1.5rem;
  font-style: italic;
  --tw-text-opacity: 1;
  color: rgba(74, 85, 104, var(--tw-text-opacity));
}
.dark article blockquote {
  --tw-border-opacity: 1;
  border-color: rgba(74, 85, 104, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(203, 213, 224, var(--tw-text-opacity));
}
.subheading-anchor {
  margin-top: -84px;
  display: inline-block;
  position: absolute;
  width: 1px;
}
.subheading-anchor + a:hover .anchor-icon {
  opacity: 1;
}
.anchor-icon {
  opacity: 0;
  margin-left: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --tw-text-opacity: 1;
  color: rgba(160, 174, 192, var(--tw-text-opacity));
}
.dark .anchor-icon {
  --tw-text-opacity: 1;
  color: rgba(74, 85, 104, var(--tw-text-opacity));
}
/* Added h3 and removed blue color */
.nextra-container h2 a,
.nextra-container h3 a {
  text-decoration: none;
  color: inherit;
}
.nextra-container nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}
.nextra-container nav a:focus,
.nextra-container nav summary:focus {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.nextra-container nav a:focus-visible,
.nextra-container nav summary:focus-visible {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.nextra-search input {
  --tw-border-opacity: 1;
  border-color: rgba(226, 232, 240, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(26, 32, 44, var(--tw-text-opacity));
}
.dark .nextra-search input {
  --tw-border-opacity: 1;
  border-color: rgba(45, 55, 72, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(17, 17, 17, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
}
.nextra-search input::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgba(203, 213, 224, var(--tw-text-opacity));
}
.nextra-search input:-ms-input-placeholder {
  --tw-text-opacity: 1;
  color: rgba(203, 213, 224, var(--tw-text-opacity));
}
.nextra-search input::placeholder {
  --tw-text-opacity: 1;
  color: rgba(203, 213, 224, var(--tw-text-opacity));
}
.dark .nextra-search input::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgba(74, 85, 104, var(--tw-text-opacity));
}
.dark .nextra-search input:-ms-input-placeholder {
  --tw-text-opacity: 1;
  color: rgba(74, 85, 104, var(--tw-text-opacity));
}
.dark .nextra-search input::placeholder {
  --tw-text-opacity: 1;
  color: rgba(74, 85, 104, var(--tw-text-opacity));
}
.nextra-search ul {
  list-style-type: none;
}
.nextra-search ul > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgba(226, 232, 240, var(--tw-divide-opacity));
}
.nextra-search ul {
  overflow: hidden;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(226, 232, 240, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.dark .nextra-search ul > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgba(74, 85, 104, var(--tw-divide-opacity));
}
.dark .nextra-search ul {
  --tw-border-opacity: 1;
  border-color: rgba(74, 85, 104, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(17, 17, 17, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
}
.nextra-search ul li {
  --tw-text-opacity: 1;
  color: rgba(45, 55, 72, var(--tw-text-opacity));
}
.nextra-search ul a:focus li,
.nextra-search ul li.active {
  --tw-bg-opacity: 1;
  background-color: rgba(237, 242, 247, var(--tw-bg-opacity));
}
.dark .nextra-search ul li {
  --tw-text-opacity: 1;
  color: rgba(226, 232, 240, var(--tw-text-opacity));
}
.dark .nextra-search ul a:focus li,
.dark .nextra-search ul li.active {
  --tw-bg-opacity: 1;
  background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
}
.nextra-search ul li .highlight {
  --tw-bg-opacity: 1;
  background-color: rgba(250, 240, 137, var(--tw-bg-opacity));
}
.dark .nextra-search ul li .highlight {
  --tw-bg-opacity: 1;
  background-color: rgba(183, 121, 31, var(--tw-bg-opacity));
}
.search-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.nextra-container input[type="search"]::-webkit-search-cancel-button,
.nextra-container input[type="search"]::-webkit-search-decoration,
.nextra-container input[type="search"]::-webkit-search-results-button,
.nextra-container input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.nextra-search.nextra-stork ul {
  left: 0;
  overflow: auto;
}
@media (min-width: 768px) {
  .nextra-search.nextra-stork ul {
    left: -20rem;
    right: 0;
  }
}
.nextra-search.nextra-stork ul {
  max-height: min(calc(100vh - 80px), 400px);
  max-width: min(calc(100vw - 2rem), calc(100% + 20rem));
  width: 100vw;
}
.nextra-container code {
  font-size: 0.9em;
  padding: 2px 0.25em;
}
.locale-switch summary::-webkit-details-marker {
  content: "";
  display: none;
}
.locale-switch summary::marker {
  content: "";
  display: none;
}
.locale-switch[open] summary:before {
  content: " ";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  cursor: default;
  background: transparent;
}
.locale-switch .locale-dropdown {
  position: absolute;
  z-index: 11;
}
.nextra-container table {
  padding: 0;
}
.nextra-container table tr {
  margin: 0;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(226, 232, 240, var(--tw-border-opacity));
  padding: 0;
}
.dark table tr {
  --tw-border-opacity: 1;
  border-color: rgba(74, 85, 104, var(--tw-border-opacity));
}
.nextra-container table tr:nth-child(2n) {
  --tw-bg-opacity: 1;
  background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
}
.dark table tr:nth-child(2n) {
  --tw-bg-opacity: 1;
  background-color: rgba(26, 32, 44, var(--tw-bg-opacity));
}
.nextra-container table tr th {
  font-weight: 600;
}
.nextra-container table tr td[align="center"],
.nextra-container table tr th[align="center"] {
  text-align: center;
}
.nextra-container table tr td[align="right"],
.nextra-container table tr th[align="right"] {
  text-align: right;
}
.nextra-container table tr td,
.nextra-container table tr th {
  text-align: left;
  margin: 0;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(226, 232, 240, var(--tw-border-opacity));
  padding: 0.5rem 1rem;
}
.dark table tr td,
.dark table tr th {
  --tw-border-opacity: 1;
  border-color: rgba(74, 85, 104, var(--tw-border-opacity));
}
.table-container {
  overflow: auto;
}
.contains-task-list {
  margin-left: 0;
  list-style-type: none;
}
.contains-task-list input[type="checkbox"] {
  margin-right: 0.25rem;
}
.nextra-container pre .prism-code {
  --c-highlight: #cce0f5;
}
.dark pre .prism-code {
  --c-highlight: #3d4b61;
}
.nextra-container pre .prism-code .token.builtin,
.nextra-container pre .prism-code .token.char,
.nextra-container pre .prism-code .token.constant,
.nextra-container pre .prism-code .token.plain {
  color: #000 !important;
}
.dark pre .prism-code .token.builtin,
.dark pre .prism-code .token.char,
.dark pre .prism-code .token.constant,
.dark pre .prism-code .token.plain {
  color: #fff !important;
}
.nextra-container pre .prism-code .token.attr-value,
.nextra-container pre .prism-code .token.string,
.nextra-container pre .prism-code .token.url {
  color: #028265 !important;
}
.dark pre .prism-code .token.attr-value,
.dark pre .prism-code .token.string,
.dark pre .prism-code .token.url {
  color: #20bb98 !important;
}
.nextra-container pre .prism-code .token.operator,
.nextra-container pre .prism-code .token.punctuation {
  color: #333 !important;
}
.dark pre .prism-code .token.operator,
.dark pre .prism-code .token.punctuation {
  color: #bbb !important;
}
.nextra-container pre .prism-code .token.function,
.nextra-container pre .prism-code .token.number,
.nextra-container pre .prism-code .token.tag:not(.script) {
  color: #0076ff !important;
}
.dark pre .prism-code .token.function,
.dark pre .prism-code .token.number,
.dark pre .prism-code .token.tag:not(.script) {
  color: #1e86ff !important;
}
.nextra-container.rtl {
  direction: rtl;
}
.nextra-container.rtl .sidebar ul ul {
  margin-right: 1.25rem;
  margin-left: 0;
}
.nextra-container.rtl .sidebar a,
.nextra-container.rtl .sidebar button {
  text-align: right;
}
.nextra-container.rtl article blockquote {
  border-right-width: 2px;
  border-left-width: 0;
  padding-right: 1.5rem;
  padding-left: 0;
}
@media (min-width: 1280px) {
  .nextra-container:not(.rtl):not(.page) article.docs-container {
    padding-right: 2rem;
  }
  .nextra-container.rtl:not(.page) .docs-container {
    padding-left: 2rem;
  }
}
@media (min-width: 768px) {
  .nextra-container:not(.page) article.docs-container .bleed.full {
    margin-left: calc(-50vw + 50% + 8rem);
    margin-right: calc(-50vw + 50% + 8rem);
  }
  .nextra-container.page article.docs-container .bleed.full {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
}
@media (min-width: 1280px) {
  .nextra-container:not(.rtl):not(.page) article.docs-container .bleed.full {
    margin-left: calc(50% - 50vw + 16rem);
    margin-right: calc(50% - 50vw);
  }
  .nextra-container.rtl:not(.page) .docs-container .bleed.full {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw + 16rem);
  }
  .nextra-container.page .docs-container .bleed.full {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}
.nextra-container.rtl code {
  direction: ltr;
}
.nextra-container.rtl .anchor-icon {
  margin-left: 0;
  margin-right: 0.5rem;
  display: inline-block;
}
.nextra-container.rtl article ol,
.nextra-container.rtl article ul {
  margin-left: 0;
  margin-right: 1.5rem;
}
@media (min-width: 768px) {
  .nextra-container.rtl .sidebar {
    border-left-width: 1px;
  }
}
.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(237, 242, 247, var(--tw-bg-opacity));
}
.hover\:text-blue-600:hover {
  --tw-text-opacity: 1;
  color: rgba(49, 130, 206, var(--tw-text-opacity));
}
.hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgba(26, 32, 44, var(--tw-text-opacity));
}
.hover\:opacity-75:hover {
  opacity: 0.75;
}
.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus\:ring:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.dark .dark\:border-gray-700 {
  --tw-border-opacity: 1;
  border-color: rgba(74, 85, 104, var(--tw-border-opacity));
}
.dark .dark\:border-gray-900 {
  --tw-border-opacity: 1;
  border-color: rgba(26, 32, 44, var(--tw-border-opacity));
}
.dark .dark\:border-gray-800 {
  --tw-border-opacity: 1;
  border-color: rgba(45, 55, 72, var(--tw-border-opacity));
}
.dark .dark\:bg-orange-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 235, 200, var(--tw-bg-opacity));
}
.dark .dark\:bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 62, 62, var(--tw-bg-opacity));
}
.dark .dark\:bg-yellow-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(183, 121, 31, var(--tw-bg-opacity));
}
.dark .dark\:bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgba(17, 17, 17, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgba(26, 32, 44, var(--tw-bg-opacity));
}
.dark .dark\:bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}
.dark .dark\:bg-opacity-30 {
  --tw-bg-opacity: 0.3;
}
.dark .dark\:bg-opacity-100 {
  --tw-bg-opacity: 1;
}
.dark .dark\:text-orange-300 {
  --tw-text-opacity: 1;
  color: rgba(251, 211, 141, var(--tw-text-opacity));
}
.dark .dark\:text-red-200 {
  --tw-text-opacity: 1;
  color: rgba(254, 215, 215, var(--tw-text-opacity));
}
.dark .dark\:text-yellow-200 {
  --tw-text-opacity: 1;
  color: rgba(254, 252, 191, var(--tw-text-opacity));
}
.dark .dark\:text-gray-800 {
  --tw-text-opacity: 1;
  color: rgba(45, 55, 72, var(--tw-text-opacity));
}
.dark .dark\:text-gray-100 {
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
}
.dark .dark\:hover\:bg-gray-800:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
}
.dark .dark\:hover\:text-gray-100:hover {
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
}
@media (min-width: 640px) {
  .sm\:flex {
    display: flex;
  }
}
@media (min-width: 768px) {
  .md\:sticky {
    position: -webkit-sticky;
    position: sticky;
  }
  .md\:right-0 {
    right: 0;
  }
  .md\:-mx-8 {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .md\:block {
    display: block;
  }
  .md\:inline-block {
    display: inline-block;
  }
  .md\:inline {
    display: inline;
  }
  .md\:hidden {
    display: none;
  }
  .md\:w-64 {
    width: 16rem;
  }
  .md\:w-auto {
    width: auto;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:items-end {
    align-items: flex-end;
  }
  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .md\:pb-16 {
    padding-bottom: 4rem;
  }
}
@media (min-width: 1280px) {
  .xl\:block {
    display: block;
  }
}
@media (min-width: 1536px) {
  .\32xl\:-mx-24 {
    margin-left: -6rem;
    margin-right: -6rem;
  }
}
