/*TOKEN FEED*/
#tokenFeed {
  position: relative;
  background-color: var(--uiBGColor);
  color: var(--inputColor);
  border: var(--inputColor) 5px outset;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 150px;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  margin: 5px;
}

#tokenFeed .staticFeed {
  display: none;
  background-color: transparent;
}

#tokenFeed .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* background: url("../public/wave.png"); */
  background-size: 1000px 100px;
  margin: 0;
  transform: translateY(35px);
}

#tokenFeed .wave.water {
  animation: animate 25s linear infinite;
  z-index: -10;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

#tokenFeed .wave.water:nth-child(2) {
  animation: animate2 15s linear infinite;
  z-index: -9;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 5px;
}
#tokenFeed .wave.water:nth-child(3) {
  animation: animate 30s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  z-index: -8;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 10px;
}
#tokenFeed .wave.water:nth-child(4) {
  animation: animate2 5s linear infinite;
  z-index: -7;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 15px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

#tokenFeed:hover {
  background-color: var(--inputHoverBGColor);
  color: var(--inputHoverColor);
  border: var(--inputHoverColor) 5px outset;
}

#tokenFeed > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 2% auto 2% auto;
  transform: translateY(25%);
  width: 50%;
}

#tokenFeed div > svg {
  margin-right: 5%;
}

#tokenFeed div > h1 {
  font-size: 1.7em;
  margin: 0 0 0 5%;
}

#tokenFeed > p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 2% auto 2% auto;
  font-size: 1.3em;
  transform: translateY(-25%);
  width: 50%;
}

#tokenFeed:hover #creditContainer {
  display: flex;
}

#tokenFeed #creditContainer {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  bottom: 5%;
}

#tokenFeed #creditContainer > *{
  display: flex;
  margin: 0 15% 0 1%;
  width: 100%;
}

/* Powered By */
#tokenFeed #creditContainer > p {
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.5em;
  font-style: italic;
}

/* Credit */
#tokenFeed #creditContainer > div{
  flex-direction: row;
  justify-content: flex-end;
}

#tokenFeed #creditContainer > div > p {
  margin: 0;
  font-size: 0.75em;
  font-weight: 900;
}

#tokenFeed input {
  position: absolute;
  margin-top: 7%;
  margin-left: 7%;
  width: 1.3em;
  height: 1.3em;
  background-color: var(--inputBGColor);
  border-radius: 50%;
  vertical-align: middle;
  border: 2px dotted var(--inputColor);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  animation: spin 5s linear infinite;
}

#tokenFeed:hover > input{
  background-color: var(--inputColor);
  border: 2px dotted var(--inputBGColor);
}

#tokenFeed input:checked {
  background-color: var(--inputColor);
  animation: blink 2s linear infinite;
}

#tokenFeed:hover > input:checked{
  background-color: var(--inputBGColor);
}

#tokenFeed input.hideLiveFeedCheckbox {
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}